.editor-buttons {
    margin: 15px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .margin-right {
        margin-right: 15px;
    }
}
.editor-modal {
    display: flex;
    background-color: #eeeeee;
    position: fixed;
    width: 70%;
    left: 15%;
    top: 100px;
    border: 1px solid #d0cece;
    border-radius: 15px;

    .row {
        width: 100%;
    }

    .make-elements {
        padding: 2%;
    }
}

.deactivated {
    display: none;
}

